/* Change the header logo in the PeerTube instance UI */
#custom-css .icon.icon-logo {
  background: url('/plugins/pocketnet/0.0.9/static/images/pocketnet-logo.png') no-repeat;
  width: 45px;
  margin-right: 10px;
  height: 32px;
}
#custom-css .pocketnet-logo-video-player .icon.icon-full-logo-transparent {
  background: url('/plugins/pocketnet/0.0.9/static/images/pocketnet-full-logo-transparent.png') no-repeat;
  width: 212px;
  margin-left: 5px;
  margin-top: 5px;
  height: 32px;
  display: block;
}

/* Hide all the buttons/text we don't want in the embed player */
#custom-css .vjs-peertube-displayed .icon.icon-download,
#custom-css .vjs-peertube-displayed .download-speed-text,
#custom-css .vjs-peertube-displayed .icon.icon-upload,
#custom-css .vjs-peertube-displayed .upload-speed-text,
#custom-css .vjs-peertube-displayed .peers-number,
#custom-css .vjs-peertube-displayed .peers-text,
#custom-css .vjs-fullscreen-control.vjs-control.vjs-button,
#custom-css .vjs-dock-text,
#custom-css .vjs-peertube-link {
  display: none;
}

/* Overlay for the Pocketnet logo inside the video player */
#custom-css .pocketnet-logo-video-player {
  max-width: 100%;
}

/* Style the play button */
body {
  --embedBigPlayBackgroundColor: rgb(0 195 255 / 80%);
  --mainColor: #00c3ff;
  --mainColorLighter: #32cfff;
  --mainColorLightest: #6adcff;
  --mainHoverColor: #00b0e6;
}
